/* CSS Style Options 
Title: 5rem
Header1: 4rem
Header2: 3rem
Header3: 1.5rem
Paragraph: 2.5
*/

body {
  padding: 0px;
  margin: 0px;
  background-color: brown;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR CSS */
.navbar--container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 40%;
  height: 100%;
  background-color: #D8D4F2;
  justify-content: space-between;
  align-items: center;
  border-right: solid 10px #332E3C;
}

.navigation--container {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

.navbar--container h1 {
  font-size: 5rem;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #332E3C;
}

.navbar--container h3 {
  font-size: 1.5rem;
  color: #e7e7e7;
  text-align: center;
}

.navbar--container ul {
  list-style-type: none;
}

.navbar--option a {
  text-decoration: none;
}

.navbar--option p {
  color: rgb(93, 77, 142);
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar--option P:hover {
  transform: scale(1.15);
}

/*--------------------------------------------------------------*/
/* TITULAR CSS */
.titular--container {
  display: flex;
  width: 60%;
  height: 120px;
  position: fixed;
  background-color: #D8D4F2;
  border-left: solid 10px #332E3C;
  border-bottom: solid 10px #332E3C;

}

.titular--container h1 {
  color: rgb(93, 77, 142);
  font-size: 4rem;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 20px;
}

/* CONTENT CSS */
.content--container {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  width: 60%;
  background-color: #D8D4F2;
  text-align: center;
}

.content--container h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* PORTFOLIO CSS---------------------------------------------- */
.art--container {
  margin-top: 120px;
  padding-left: 10px;
} 

.art--container h2 {
  font-size: 3rem;
  color: #332E3C;
}

.art--section {
  background-color: #D8D4F2;
  display: flex;
}

.art--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0px;
  margin: 0px;
}

.art--section img {
  width: 90%;
  height: auto;
  padding: 15px;
}

/* SOBRE CSS--------------------------------------------------- */
.sobre--conteiner {
  margin-top: 120px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 30px;
}

.sobre--conteiner img {
  float: left;
  width: 45%;
  margin-right: 10px;
}

.information--conteiner h1 {
  font-size: 3rem;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  color: #332E3C;
}

.information--conteiner p {
  font-size: 2.5rem;
  text-align: left;
  margin: 0px;
  color: #332E3C;
}

/* CONTACTO CSS------------------------------------------------- */
.contacto--conteiner {
  margin-top: 120px;
  padding: 20px;
}

.contacto--conteiner p {
  font-size: 2rem;
  text-align: left;
  color: #332E3C;
}

.contacto--conteiner a {
  font-size: 2rem;
  text-decoration: none;
  align-items: left;
  color: #332E3C;
}

.contacto--conteiner i {
  font-size: 2rem;
  text-decoration: none;
  align-items: left;
  color: #332E3C;
}

.contacto--conteiner h2 {
  color: #332E3C;
}

.email--conteiner {
  text-align: left;
  padding-left: 40px;
}
/* SERVICE CSS--------------------------------------------------- */
.service--container {
  margin-top: 120px;
  text-align: left;
  padding: 20px;
} 

.service--card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.service--card h2 {
  font-size: 3rem;
  margin: 0px;
  color: #332E3C;
}

.service--card p {
  font-size: 2rem;
  margin: 0px;
  color: #332E3C;
}

.service--card i {
  font-size: 4rem;
  color: #332E3C;
  margin-right: 40px;
}

.service--info {
  min-height: 100px;
}
