body {
    padding: 0px;
    margin: 0px;
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR CSS */
.navbar--container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 40%;
    height: 100%;
    background-color: aliceblue;
}

.navbar--container h1 {
    font-size: 4rem;
}

.navbar--container h3 {
    color: gray;
    text-align: center;
}

.navbar--option {
    align-items: center;
}

.navbar--option a {
    text-decoration: none;
    color: green;
    font-size: 3rem;
}

/* TITULAR CSS */
.titular--container {
    display: flex;
    width: 60%;
    height: 15%;
    position: fixed;
    background-color: aquamarine;
}
.titular--container h1 {
    font-size: 4rem;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 60px
}

/* CONTENT CSS */
.content--container {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    width: 60%;
    background-color: beige;
    height: auto;
    text-align: center;
}

.content--container h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

/* PORTFOLIO CSS */
.art--container {
    margin-top: 10%;
}

.art--section {
    background-color: blueviolet;
    
}

.art--section img {
    width: 40%;
    padding: 10px;
 
}

/* SERVICE CSS */

.service--container {
    margin-top: 10%;
}